// GLOBAL RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    line-height: 2.8rem;
}

.container {
    display: grid;
    grid-template-rows: 80vh repeat(2, min-content);
    grid-template-columns: [full-start] 1fr [middle-start] repeat(6, 1fr) [middle-end] 1fr [full-end];
}