.header {
  grid-row: 1 / 2;
  grid-column: middle-start / middle-end;

  padding: 2.4rem 0;
  display: grid;
  justify-content: space-between;
  grid-template-rows: min-content 1fr;
  grid-template-columns: max-content max-content;
  align-items: center;
  overflow-x: clip;

  @media only screen and (max-width: $bp-xxs) {
    // grid-template-columns: 100vw;
    grid-row: 2 / 3;
    row-gap: 5rem;
  }

  &__logo {
    cursor: pointer;

    @media only screen and (max-width: $bp-xxs) {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
  }

  &__btn {

    justify-self: end;
    margin-right: 5%;

    @media only screen and (max-width: $bp-xxs) {
      justify-self: end;
      align-self: start;

      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin-right: 4rem;
    }
  }

  &__heading {
    max-width: 45.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  

    @media only screen and (max-width: $bp-xxs) {
      justify-self: center;
      max-width: 52rem;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      margin-right: -3%;
    }

    @media only screen and (max-width: $bp-xxxs) {
      padding-left: 2.5rem;
      padding-right: 5rem;
      margin-right: -5%;
    }

  }

  &__image-box {
    // width: 99rem;
    // height: 93.6rem;
     // height: 50rem;
    // width: 70rem;
    // overflow: hidden;  
    // position: absolute;
    // top: -16rem;
    // right: -30rem;
    height: min-content;
    width: min-content;
    position: relative;
    background-color: pink;
    grid-column: 2 / 3;
    overflow: hidden;
    

    @media only screen and (max-width: $bp-xl) {
      // right: -50rem;
      // top: -5rem;
    }

    @media only screen and (max-width: $bp-xs) {
      // right: -54.5rem;
      // top: -8rem;
    }

    @media only screen and (max-width: $bp-xxs) {

      // position: relative;
      // left:0;
      // top: 0;
      // height: min-content;
      // width: min-content;
      justify-self: center;
      margin-top: -1rem;

      grid-row: 3 / 4;
    }

    @media only screen and (max-height: $vh-s) {
      display: none;
      }
  }

  &__image {
    height: 40rem;
    width: 49rem;
    height: 100%;
    width: 100%;
  }
}
