.header {
  grid-row: 2 / 3;
  grid-column: middle-start / full-end;

  display: grid;
  justify-content: space-between;
  grid-template-rows: min-content;
  grid-template-columns: max-content max-content;
  align-items: center;
  overflow-x: clip;
 

  @media only screen and (max-width: $bp-xxxs) {
  grid-template-rows: max-content max-content;
  grid-template-columns: min-content;
  justify-content: center;
  justify-items: center;
  margin-top: 5rem;
  }


  &__heading {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    max-width: 45.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-top: -20rem;

    @media only screen and (max-width: $bp-xs) {
      max-width: 40rem;
    }
  
    @media only screen and (max-width: $bp-xxxs) {
      grid-row: 1 / 2;
      grid-column: 1 / 2;

      margin-top: 0;
      max-width: 40rem;
    }

    @media only screen and (max-width: $bp-xxxxs) {
      // max-width: 30rem;
    }

  }

  &__image-box {
    height: min-content;
    width: min-content;
    position: relative;
    grid-column: 2 / 3;
    bottom: 24rem;
    left: 28rem;

    @media only screen and (max-width: $bp-xxl) {
      left: 14rem;    
    }

    @media only screen and (max-width: $bp-l) {
      left: 6rem;    
    }

    @media only screen and (max-width: $bp-m) {
      bottom: 18rem;
      left: 16rem;    
    }

    @media only screen and (max-width: $bp-s) {
      left: 8rem;    
    }

    @media only screen and (max-width: $bp-xs) {
      left: -4rem;
    }

    @media only screen and (max-width: $bp-xxs) {
      left: -10rem;
    }
    
    @media only screen and (max-width: $bp-xxxs) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      bottom: 0;
      left: 0;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}


