//GLOBAL 
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  line-height: 2.8rem;
}

// HEADING
.heading-xl {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 7rem;
  color: var(--color-blue-2);
}

.heading-l {
  font-weight: 800;
  font-size: 4rem;
  line-height: 5rem;
}

.heading-m {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4rem;
}

.heading-sm {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4rem;
}

// BODY
.body-m {
  font-size: 1.8rem;
  color: var(--color-grey);
}

.body-sm {
  font-weight: 700;
  font-size: 1.6rem;
}

// BUTTONS
.btn {
    &,
    &:link,
    &:visited {
      text-transform: capitalize;
      text-decoration: none;
      padding: 1.4rem 3.2rem;
      display: inline-block;
      border-radius: 2.8rem;
      transition: all 0.2s;
      position: relative;
      font-family: inherit;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.8rem;
      letter-spacing: .5px;  
      color: var(--color-white);
      border: none;
      cursor: pointer;
    }

    &--1 {
      background-color: var(--color-blue-2);
    }

    &--2 {
      @include gradient-primary;
      padding: 1.9rem 3.2rem;
      border-radius: 3.15rem;
    }

    &--3 {
      @include gradient-secondary;
    }
}

