//GLOBAL 
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  line-height: 2.8rem;

  @media only screen and (max-width: $bp-l) {
    line-height: 2.93rem;
}
}

a {
  text-decoration: none;
  color: var(--color-white);
}

// HEADING
.heading-xl {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 7rem;
  color: var(--color-blue-2);

  @media only screen and (max-width: $bp-xs) {
    font-size: 4.5rem;
    line-height: 5rem;
}

@media only screen and (max-width: $bp-xxxxs) {
  font-size: 4rem;
}
}

.heading-l {
  font-weight: 800;
  font-size: 4rem;
  line-height: 5rem;
}

.heading-m,
.heading-sm  {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4rem;

  @media only screen and (max-width: $bp-xs) {
    font-size: 2.7rem;
  }
}

// BODY
.body-m {
  font-size: 1.8rem;
  color: var(--color-grey);
}

.body-sm {
  font-weight: 700;
  font-size: 1.6rem;
}

// BUTTONS
.btn {
    &,
    &:link,
    &:visited {
      display: inline-block;
      text-transform: capitalize;
      text-decoration: none;
      padding: 1.4rem 3.2rem;
      border-radius: 2.8rem;
      transition: all 0.2s;
      position: relative;
      font-family: inherit;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.8rem;
      letter-spacing: .5px;  
      color: var(--color-white); 
      border: none;
      cursor: pointer;
      white-space: nowrap;
    }

    &--1 {
      background-color: var(--color-blue-2);
      z-index: 20;

      &:hover {
        background-color: var(--color-blue-1);
      }
    }

    &--2 {
      @include gradient-primary;
      padding: 1.9rem 3.2rem;
      border-radius: 3.15rem;

      &:hover {
        opacity: .5;
      }
    }

    &--3 {
      @include gradient-secondary;
      z-index: 1;

      &::before {
        content: "";
        @include gradient-secondary-hover;
        height: 100%;
        width: 100%;
        border-radius: 2.8rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: opacity 0.2s linear;
        opacity: 0;
      }

      &:hover::before {
        opacity: 1;
      }
    }
}

